.posts-content-container{
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
  

.posts-content-title {
  flex: 1 0 100%;
  margin: 24px auto;
}



  